/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-surface text-white;
		font-family: 'Inter Variable', sans-serif;
	}
	html {
		scrollbar-gutter: stable;
	}
	body::-webkit-scrollbar {
		width: 1em;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-neutral-800;
	}
}
